In [28]:
import nltk 
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')
import sklearn
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\navan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\navan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
text = "I am Mr.X , I am a programmer! , Aspring data scientist; Studing NLTK in you! tube."
print(text)

I am Mr.X , I am a programmer! , Aspring data scientist; Studing NLTK in you! tube.

In [7]:
print(nltk.sent_tokenize(text))
print(len(nltk.sent_tokenize(text)))

['I am Mr.X , I am a programmer!', ', Aspring data scientist; Studing NLTK in you!', 'tube.']
3

In [8]:
text2 = "I am Mr.X , I am a programmer! , Aspring data scientist? Studing NLTK in you! tube."
print(nltk.word_tokenize(text2))
print(len(nltk.word_tokenize(text2)))

['I', 'am', 'Mr.X', ',', 'I', 'am', 'a', 'programmer', '!', ',', 'Aspring', 'data', 'scientist', '?', 'Studing', 'NLTK', 'in', 'you', '!', 'tube', '.']
21

In [9]:
elon_data = """Elon Reeve Musk (/ˈiːlɒn/ EE-lon; born June 28, 1971) is a business magnate and investor. He is the founder, CEO and chief engineer of SpaceX; angel investor, CEO and product architect of Tesla, Inc.; owner and CEO of Twitter, Inc.; founder of the Boring Company; co-founder of Neuralink and OpenAI; and president of the philanthropic Musk Foundation. Musk is the second-wealthiest person in the world, according to both the Bloomberg Billionaires Index and Forbes's Real Time Billionaires list as of May 2023 primarily from his ownership stakes in Tesla and SpaceX, with an estimated net worth of around $167 billion according to the Bloomberg and $176.2 billion according to Forbes.[4][5][6][7]

Musk was born in Pretoria, South Africa, and briefly attended the University of Pretoria before moving to Canada at age 18, acquiring citizenship through his Canadian-born mother. Two years later, he matriculated at Queen's University and transferred to the University of Pennsylvania, where he received bachelor's degrees in economics and physics. He moved to California in 1995 to attend Stanford University. After two days, he dropped out and, with his brother Kimbal, co-founded the online city guide software company Zip2. In 1999, Zip2 was acquired by Compaq for $307 million and Musk co-founded X.com, a direct bank. X.com merged with Confinity in 2000 to form PayPal, which eBay acquired for $1.5 billion in 2002.

With $175.8 million, Musk founded SpaceX in 2002, a spaceflight services company. In 2004, he was an early investor in the electric vehicle manufacturer Tesla Motors, Inc. (now Tesla, Inc.). He became its chairman and product architect, assuming the position of CEO in 2008. In 2006, he helped create SolarCity, a solar energy company that was later acquired by Tesla and became Tesla Energy. In 2015, he co-founded OpenAI, a nonprofit artificial intelligence research company. The following year, he co-founded Neuralink—a neurotechnology company developing brain–computer interfaces—and the Boring Company, a tunnel construction company. Musk has also proposed a hyperloop high-speed vactrain transportation system. In 2022, his acquisition of Twitter for $44 billion was completed.

Musk has expressed views that have made him a polarizing figure. He has been criticized for making unscientific and misleading statements, including that of spreading COVID-19 misinformation. In 2018, the U.S. Securities and Exchange Commission (SEC) sued Musk for falsely tweeting that he had secured funding for a private takeover of Tesla. Musk stepped down as chairman of Tesla and paid a $20 million fine as part of a settlement agreement with the SEC."""

In [10]:
# sentence_tokenize
sentence = (nltk.sent_tokenize(elon_data))
word = (nltk.word_tokenize(elon_data))
print(len(nltk.sent_tokenize(elon_data)))
print(len(nltk.word_tokenize(elon_data)))
print(sentence[0])

21
500
Elon Reeve Musk (/ˈiːlɒn/ EE-lon; born June 28, 1971) is a business magnate and investor.

In [11]:
for i in range(0,len(sentence)):
    sentence[i] = sentence[i].lower()
    sentence[i] = re.sub(r'\W',' ',sentence[i])
    sentence[i] = re.sub(' +',' ',sentence[i])

In [12]:
stemmer = PorterStemmer()

In [13]:
stop_words = set(stopwords.words('english'))

In [14]:
corpus = []
for i in sentence:
    words_sentence=""
    for j in i.split():
        if j not in stop_words:
            words = stemmer.stem(j)
            words_sentence += words+" "
    corpus.append(words_sentence)

In [15]:
corpus

['elon reev musk ˈiːlɒn ee lon born june 28 1971 busi magnat investor ',
 'founder ceo chief engin spacex angel investor ceo product architect tesla inc owner ceo twitter inc founder bore compani co founder neuralink openai presid philanthrop musk foundat ',
 'musk second wealthiest person world accord bloomberg billionair index forb real time billionair list may 2023 primarili ownership stake tesla spacex estim net worth around 167 billion accord bloomberg 176 2 billion accord forb ',
 '4 5 6 7 musk born pretoria south africa briefli attend univers pretoria move canada age 18 acquir citizenship canadian born mother ',
 'two year later matricul queen univers transfer univers pennsylvania receiv bachelor degre econom physic ',
 'move california 1995 attend stanford univers ',
 'two day drop brother kimbal co found onlin citi guid softwar compani zip2 ',
 '1999 zip2 acquir compaq 307 million musk co found x com direct bank ',
 'x com merg confin 2000 form paypal ebay acquir 1 5 billion 2002 ',
 '175 8 million musk found spacex 2002 spaceflight servic compani ',
 '2004 earli investor electr vehicl manufactur tesla motor inc tesla inc ',
 'becam chairman product architect assum posit ceo 2008 ',
 '2006 help creat solarc solar energi compani later acquir tesla becam tesla energi ',
 '2015 co found openai nonprofit artifici intellig research compani ',
 'follow year co found neuralink neurotechnolog compani develop brain comput interfac bore compani tunnel construct compani ',
 'musk also propos hyperloop high speed vactrain transport system ',
 '2022 acquisit twitter 44 billion complet ',
 'musk express view made polar figur ',
 'critic make unscientif mislead statement includ spread covid 19 misinform ',
 '2018 u secur exchang commiss sec su musk fals tweet secur fund privat takeov tesla ',
 'musk step chairman tesla paid 20 million fine part settlement agreement sec ']

In [17]:
vectorizer = CountVectorizer()

In [18]:
df = vectorizer.fit_transform(corpus)

In [34]:
len(vectorizer.get_feature_names_out())

188

In [22]:
df[0].toarray()

array([[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [29]:
tfvectorizer = TfidfVectorizer()

In [30]:
df1 = tfvectorizer.fit_transform(corpus)

In [33]:
len(tfvectorizer.get_feature_names_out())

188

In [35]:
df1[0].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29288504, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29288504, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.25793556, 0.        , 0.        , 0.        ,
        0.29288504, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.29288504,
        0.        , 0.29288504, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.23313851, 0.29288504, 0.        , 0.        ,
        0.        , 0.29288504, 0.        , 0.29288504, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.14594254, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29288504, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29288504]])